@import "../node_modules/bootstrap/dist/css/bootstrap-grid.min.css";

html, body {
    background-color: #f5f5f5;
    max-width: 100%;
    overflow-x: hidden;
}

.carousel-top-level {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
}

.carousel-container {
    display: flex;
    justify-content: center;
    align-items: center; 
    margin: 5px auto;
    height: 400px;
    background-color: #c3c9cf;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    position: relative;
}

.carousel-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel-container .carousel-header {
    position: absolute;
    bottom: 75px;
    left: 20px;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 255);
}

.carousel-container .carousel-description {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right:20px;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 255);
}

.carousel-button.next-button {
    position: absolute;
    border: none;
    background: none;
    right: 0;
}

.carousel-button.last-button {
    position: absolute;
    border: none;
    background: none;
    left: 0;
}

/* navbar component styles */
#menubar-custom {
    padding: 0;
}


/* .nav-object-wrapper {
    background-color: #b57b3e !important;
    border: 10px solid #962E1E;
} */


.brand {
    padding-left: 20px;
}

.banner {
    color: #E4BD1F;
    /* color: black; */
    font-family: Montserrat;
}

.navbar-fixed {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    z-index:1020;
}

.side-pane {
    position: fixed;
    top: 0;
    right: -270px;
    width: 250px;
    height: 100%;
    background-color: #343a40;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    transition: right 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    z-index: 1030;
}

.side-pane.open {
    right: 0;
}

/* Positioning + styling for menu button + icon */
.drawer-button-custom {
    background: none;
    border: none;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-width: 768px) {
    .drawer-button-custom {
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 767px) {
    .drawer-button-custom {
        margin-right: 20px; 
    }

    .nav-object-wrapper {
        padding-bottom: 60px;
    }
}